@mixin ghost-button($font, $font-size, $font-color, $border-size, $border-color, $padding, $transition-speed, $hover-color)
 {
     display:inline-block;
     text-decoration:none;
     text-transform:uppercase;
     font-family: $font;
     font-size: $font-size;
     color:$font-color;
     border:$border-size solid $border-color;
     padding:$padding;
     -webkit-transition: color $transition-speed, background $transition-speed;
     transition: color $transition-speed, background $transition-speed;
     &:hover
     {
         background:$border-color;
         color:$hover-color;
     }
 }

header {
    background: url('../images/NYCSkyline2withDragon.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    h1 {
        color: #fff;
        font-size: 4rem;
    }
}

.social-icons a {
    color: #fff;
    font-weight: light;
}

#the-dawning {
    min-height: 100%;
    background: url('../images/background/the-dawning.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#ascendant {
    min-height: 100%;
    background: url('../images/background/ascendant.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#exiled {
    min-height: 100%;
    background: url('../images/background/exiled.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#evolution {
    min-height: 100%;
    background: url('../images/background/evolution.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.latest-installment{
    h2 {
        color: #fff;
        text-shadow: 1px 1px 0px rgba(172, 114, 58, 0.9), 2px 2px 0px rgba(0, 0, 0, 0.9);
    }
    .book-cover {
        margin: 4rem auto;
        -webkit-box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.5);
        -moz-box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.5);
        box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.5);
    }
    .book-panel {
        padding: 4rem 2rem 2rem;
        background: rgba(0,0,0,.5);
        p {
            color: #fff;
        }
    }
}

.ghost-button {
    @include ghost-button($body-font-family, 16px, #ffffff, 2px, #fff, 10px, 300ms, #000000 );
}

footer {
    background: url('../images/NYCSkyline2withDragon.jpg') no-repeat left bottom #ac723a;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 1.5rem;
    color: #fff;
}